<div>
    <div>
        <ul>
            <li ng-repeat="lista in todaslistas">
                <span>{{lista.descricao}} / {{lista.data}}</span>
                <span><button class="btn btn-default" ng-click="open(lista)">Editar</button></span>
                <span><button class="btn btn-default" ng-click="excluir(lista)">Excluir</button></span>
            </li> 
        </ul>
    </div>
    <!--<a ng-click="inserir()" class="btn btn-small btn-primary">Clique para Inserir</a>-->
    <div>
        <button class="btn btn-default" ng-click="open(null)">Inserir</button>    
    </div>
</div>